@charset "UTF-8";

/**
 * 基本デザイン
 */
a, button { cursor:pointer; overflow:hidden; -webkit-transition:.2s linear;
    -moz-transition:.2s linear; -o-transition:.2s linear; }
input, button, textarea, select {
    margin:0; padding:3px; background:#fff; border:1px solid #b3b3b3; outline:none;
    font-size:15px; border-radius:3px; }
textarea { width:100%; box-sizing:border-box; height:10em; }
input[type=radio], input[type=checkbox] { margin:2px; vertical-align:middle; }

/**
 * 汎用class
 */
.clearfix:after { visibility:hidden; display:block; font-size:0;
    content:" "; clear:both; height:0; }
* html .clearfix { zoom:1; } /* IE6 */
*:first-child+html .clearfix { zoom:1; } /* IE7 */
.errmsg { color:#ff4422; }
.w-full { width:100%; }
.w-half { width:50%; }
.w-quoter { width:25%; }

/**
 * ブロック構成class
 */
.main-block { width:1000px; margin:auto; padding:30px 0; text-align:left; }
.main-block > .left-col { width:230px; float:left; }
.main-block > .right-col { width:740px; float:right; }
.main-block > .main-col { width:430px; margin:auto; padding:50px 0; }

/**
 * 共通パーツ ヘッダー
 */
.header-block { height:28px; box-shadow:0px 1px 5px rgba(0,0,0,0.3); background:#006eb9; }
.header-block > div { width:1000px; margin:auto; position:relative; }
.header-block .logo { position:absolute; top:11px; left:7px; }

/**
 * 共通パーツ メニュー
 */
.main-menu { background:#ebe9e8; }
.main-menu h2 { padding:25px 25px 0; font-size:14px; font-weight:normal;
    letter-spacing:2px; font-family:'Noto Sans Japanese', serif; }
.main-menu dl { padding:20px 0; }
.main-menu dt { font-size:14px; text-indent:1em; list-style-type:none; font-weight: 400 }
.main-menu a { display:block; text-decoration:none; padding:4px 15px; color:#000; }
.main-menu .current a, .main-menu a:hover { text-decoration:none; background:#006eb9; color:#fff; }

/**
 * 共通パーツ ページタイトル
 */
.page-title { margin:50px 0 25px; font-size:22px; font-weight:bold;
    line-height:45px; border-bottom:1px solid #ccc; color:#006eb9; }
.page-title span { font-size:18px; }
.page-title:before { vertical-align:-4px; margin:0 15px; }
.page-title:first-child { margin-top:0; }
/*
.page-title:before { content:"■"; }
.page-title:before { content:url("../img/h2_user.png"); }
 */

/**
 * 共通パーツ ボタン
 */
.list-btn {}
.btn-area { margin-bottom:20px; }
.btn-area > .right { float:right; }
.btn-area a, .btn-area button { display:inline-flex; padding:5px 20px;
    border-radius:20px; text-decoration:none; line-height:1.5em;
    background:#C8B380; color:#fff; border:1px none #b3b3b3; }
.btn-area a:hover, .btn-area button:hover { color:#fff; background:#006eb9; }
.btn-area .primary-btn            { background:#006eb9; color:#fff; }
.btn-area .primary-btn:hover      { background:#405094; }
/*
.btn-area .back-btn            { background:#c8b380; color:#fff; }
.btn-area .send-btn            { background:#c8b380; color:#fff; }
.btn-area .create-btn:hover    { background:#d6674d; }
.btn-area .detail-btn:hover    { background:#d6674d; }
.btn-area .edit-btn:hover      { background:#d6674d; }
.btn-area .delete-btn:hover    { background:#52834e; }
.btn-area .export-btn:hover    { background:#588faf; }
.btn-area .import-btn:hover    { background:#588faf; }
.btn-area .search-btn:hover    { background:#588faf; }
.btn-area .login-btn:hover     { background:#405094; }
 */

/**
 * 共通パーツ テーブル
 */
.tbl { width:100%; border-collapse:collapse; font-size:14px; }
.tbl tr { vertical-align:top; }
.tbl th,.tbl td { padding:3px 5px; }
.tbl th { border:1px solid #ad9864; background:#c8b380; font-weight:normal; }
.tbl td { border:1px solid #cacaca; }
.tbl i { line-height:25px; }
.tbl i.fa-check-circle { color:#049708; }
.tbl i.fa-minus-circle { color:#999; }
/* 一覧テーブル */
.tbl.list { text-align:center; }
.tbl.list tr:nth-child(even) { background-color:#fafafa; }
.tbl.list tr:nth-child(odd) { background-color:#fff; }
.tbl.list tr:hover { background:#f5eba9; }
.tbl.list input { height:21px; }
/* 単票テーブル */
.tbl.detail { margin-bottom:10px; }
.tbl.detail th { line-height:2em; }
.tbl.detail th, .tbl.detail td { padding:8px 10px; }
.tbl.detail th { width:120px; border:1px solid #ad9864; white-space:nowrap; }

/**
 * 共通パーツ ページャー
 */
.pager { margin-top:50px; text-align:center; }
.pager p { font-size:13px; color:#666; margin-bottom:10px; }
.pager ul { height:32px; margin:0; padding:0; }
.pager li { display:inline-block; width:33px; height:30px; margin:0 8px; }
.pager a { display:block; line-height:30px; font-size:16px; text-decoration:none;
    background:#ebe9e8; border:1px solid #ccc; }
.pager .prev a, .pager .next a { color:#666; }
.pager .current a, .pager a:hover { background:#006eb9; color:#fff; border-color:#006eb9; }

/**
 * 共通パーツ ソート
 */
.sort { cursor:pointer; }
.sort.selected.asc:after { content:"▼"; }
.sort.selected.desc:after { content:"▲"; }
.sort.not-selected.asc:after { content:"▽"; }
.sort.not-selected.desc:after { content:"△"; }

/**
 * 共通パーツ ログイン系フォーム
 */
.mini-form { width:80%; margin:30px 0 50px; padding:30px; background:#f0f0f0; }
.mini-form dt { color:#666; font-weight: 400; }
.mini-form dd { margin-bottom:20px; }
.mini-form input { width:100%; font-size:24px; box-sizing:border-box; }
.mini-form .btn-area { margin:40px 0 0; text-align:center; }
.note-area { margin:40px 0 0; text-align:center; }
