<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>{{$page_title}}</title>
    <meta name="keywords" content="{{$page_keywords}}"/>
    <meta name="description" content="{{$page_description}}"/>
    {{script require=["app.common"]}}{{/script}}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{'/.assets/css/adm-base.css'|path_to_url}}" rel="stylesheet"/>
</head>
<body>

{{if $flash = []|flash}}
    {{script require=["app.showFlash"]}}showFlash({{$flash|json_encode nofilter}}){{/script}}
{{/if}}

<header class="header-block">
    <div>
        <div class="logo"><a href="{{'/'|path_to_url}}"></a></div>
    </div>
</header>

<div class="main-block clearfix">
<div class="left-col">
<nav class="main-menu">
    <h2>Menu</h2>
    <dl>
        {{if "id"|get_priv:"admin"}}
            <dt><a href='{{"admin_login.login_exit"|page_to_url}}'>ログアウト</a></dt>
        {{else}}
            <dt><a href='{{"admin_login.login"|page_to_url}}'>ログイン</a></dt>
        {{/if}}
        {{if "admin_index.index"|is_accessible}}
            <dt><a href='{{"admin_index.index"|page_to_url}}'>管理者マイページ</a></dt>
        {{/if}}
        {{if "admin_users.list"|is_accessible}}
            <dt><a href='{{"admin_users.list"|page_to_url}}'>ユーザー管理</a></dt>
        {{/if}}
        {{if "admin_users_products.list"|is_accessible}}
            <dt><a href='{{"admin_users_products.list"|page_to_url}}'>ユーザー製品管理</a></dt>
        {{/if}}
        {{if "admin_products.list"|is_accessible}}
            <dt><a href='{{"admin_products.list"|page_to_url}}'>製品管理</a></dt>
        {{/if}}
        {{if "admin_products_files.list"|is_accessible}}
            <dt><a href='{{"admin_products_files.list"|page_to_url}}'>関連ファイル管理</a></dt>
        {{/if}}
        {{if "admin_categories.list"|is_accessible}}
            <dt><a href='{{"admin_categories.list"|page_to_url}}'>分類管理</a></dt>
        {{/if}}
        {{if "admin_common_files.list"|is_accessible}}
            <dt><a href='{{"admin_common_files.list"|page_to_url}}'>共通関連情報管理</a></dt>
        {{/if}}
        {{if "admin_news.list"|is_accessible}}
            <dt><a href='{{"admin_news.list"|page_to_url}}'>更新情報管理</a></dt>
        {{/if}}
        {{if "admin_notices.list"|is_accessible}}
            <dt><a href='{{"admin_notices.list"|page_to_url}}'>ご注意事項管理</a></dt>
        {{/if}}
    </dl>
    <dl>
        <dt><a href='{{"index.index"|page_to_url}}'>トップ</a></dt>
        <dt><a href='{{"user_index.index"|page_to_url}}'>ユーザートップ</a></dt>
    </dl>
</nav><!--/.main-menu-->
</div><!--/.left-col-->
<div class="right-col">
