{{inc path="/element/admin_header.html"}}

<div class="right">

<!-- search_module -->
<h2 class="admin_h2" id="user">製品管理<span> - 検索</span></h2>

{{form action="."|page_to_url form=$forms.search}}
	<input name="_i" value="c" type="hidden"/>
	<div class="ad_btn clearfix">
		<table class="tbl_admin search">
			<tr>
				<th>キーワード</th>
				<td>{{input name="freeword" type="text" size="40" class="input-text"}}</td>
			</tr>
			<tr>
				<th>カテゴリ</th>
				<td>{{input name="category" type="select" options="product_category" class="input-select"}}</td>
			</tr>
			<tr>
				<th>公開日時</th>
				<td>{{input name="reg_date_start" type="date" range="2010~+5" format="{%l}{%yp}{%mp}{%dp}{%datefix}" class="input-date"}}</td>
			</tr>
		</table>
		<a href="javascript:void(0);" onclick="$(this).parents('form').trigger('submit');" id="search"><i class="fa fa-search"></i>検索</a>
	</div>
{{/form}}

{{*
<!-- sort_module -->
<div>
	<a href='{{"."|page_to_url|url:$c->merge_input(["_i"=>"c","sort"=>"id@DESC"])}}'>登録順</a>
</div>
<!-- /sort_module -->
*}}

<!-- list_module -->
<h2 class="admin_h2" id="user">製品管理<span> - 一覧</span></h2>

<div class="ad_btn clearfix">
	<a href='{{".entry_form"|page_to_url}}' id="add">新規登録</a>
	<a href='{{".view_csv"|page_to_url}}' id="dl">CSV一括ダウンロード</a>
	<a href='{{".entry_csv_form"|page_to_url}}' id="dl">CSVインポート</a>
</div>

<table class="tbl_admin list">

	<tr>
		<th>名称</th>
		<th>カテゴリ</th>
		<th>公開日時</th>
		<th>&nbsp;</th>
	</tr>
	{{foreach $ts as $t}}
	<tr>
		<td>
			{{$t.name}}
		</td>
		<td>
			{{$t.category|select:"product_category"}}
		</td>
		<td>
			{{$t.open_date|date:"Y/m/d"}}
		</td>
		<td>

			<a href='{{".entry_form"|page_to_url|url:["id"=>$t.id]}}' class="button">編集</a>
			<a href='{{".delete"|page_to_url|url:["id"=>$t.id]}}' class="button bindConfirmDelete">削除</a>
		</td>
	</tr>
	{{/foreach}}
</table>

<div class="pager">
<!--
<p>全{{$p.total}}件中 {{$p.from}}件～{{$p.to}}件を表示</p>
<ul class="clearfix">
	{{if $p.prev !== null}}
		<li class="prev"><a href='{{"."|page_to_url|url:$c->merge_input(["_i"=>"c","offset"=>$p.prev])}}'>前</a></li>
	{{/if}}
	{{foreach $p.pages as $index => $page_offset}}
		{{if $index==$p.current}}
			<li class="current"><a href='{{"."|page_to_url|url:$c->merge_input(["_i"=>"c","offset"=>$page_offset])}}' class="current">{{$index}}</a></li>
		{{else}}
			<li><a href='{{"."|page_to_url|url:$c->merge_input(["_i"=>"c","offset"=>$page_offset])}}'>{{$index}}</a></li>
		{{/if}}
	{{/foreach}}
	{{if $p.next !== null}}
		<li class="next"><a href='{{"."|page_to_url|url:$c->merge_input(["_i"=>"c","offset"=>$p.next])}}'>次</a></li>
	{{/if}}
-->

    {{if $p = $ts->getPager()}}
        {{if $p->getPage('prev')}}
            <a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage('prev')])}}">前ページ</a>
        {{/if}}
        {{foreach $p->getPages(3) as $page}}
            {{if $page == $p->getPage("current")}}
                ( {{$page}} )
            {{else}}
                <a href="{{$forms.search->getSearchPageUrl(['p'=>$page])}}">( {{$page}} )</a>
            {{/if}}
        {{/foreach}}
        {{if $p->getPage("next")}}
            <a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage('next')])}}">次ページ</a>
        {{/if}}
    {{/if}}
</ul>
</div>
</div><!--right-->

{{inc path="/element/admin_footer.html"}}
