{{assign "page_title" "共通関連情報管理 入力"}}
{{inc path="/include/admin_header.html"}}

<h1 class="page-title">{{$page_title}}</h1>

{{if $forms.entry->getErrors()}}
    <p class="errmsg">※入力エラーがあります</p>
{{/if}}
{{script require=["app.observeForm"]}}
    $(function(){
        var state = {{$forms.entry->exportState()|json_encode nofilter}};
        var form = observeForm($("form.form-entry"), state, "admin");
    });
{{/script}}

{{form action='.'|page_to_url enctype="multipart/form-data" method="post" form=$forms.entry class="form-entry"}}
{{input name="id" type="hidden"}}
<table class="tbl detail">
    <tr>
        <th>ファイル</th>
        <td>{{input name="file" type="file"}}{{if $forms.entry.file}}<span> <a href="{{$forms.entry.file}}" target="_blank" class="uploaded">ファイル</a> <a href="javascript:void(0);" onclick="$(this).parent().parent().find('input.uploaded').val('').change();$(this).parent().hide();">削除</a></span>{{/if}}</td>
    </tr>
    <tr>
        <th>タイトル</th>
        <td>{{input name="title" type="text" class="w-full"}}</td>
    </tr>
    <tr>
        <th>公開日</th>
        <td>{{input name="release_date" type="text" class="w-full"}}</td>
    </tr>
    <tr>
        <th>説明</th>
        <td>{{input name="description" type="textarea"}}</td>
    </tr>
</table>
<div class="btn-area">
    <a href='{{"admin_common_information.list"|page_to_url:["back"=>1]}}' class="back-btn">戻る</a>
    <div class="right clearfix">
        <button type="submit" class="primary-btn">確認</button>
    </div>
</div>
{{/form}}

{{inc path="/include/admin_footer.html"}}
