{{inc route="/include/admin_header.html"}}
<div class="right">

<h2 class="admin_h2" id="user">記事管理<span></span></h2>

{{form action="."|page_to_url form=$forms.search}}
    <div class="ad_btn clearfix">
        <table class="tbl_admin search">
            <tr>
                <th>フリーワード検索</th>
                <td>{{input name="freeword" type="text" size="40" class="input-text"}}</td>
            </tr>
        </table>
        <a href="javascript:void(0);" onclick="$(this).parents('form').trigger('submit');" class="search"><i class="fa fa-search"></i>検索</a>
    </div>
{{/form}}

<div class="ad_btn clearfix">
    <a href='{{".entry_form"|page_to_url}}' class="create">新規登録</a>
    <a href='{{".view_csv"|page_to_url}}' class="export">CSV一括ダウンロード</a>
    <a href='{{".entry_csv_form"|page_to_url}}' class="import">CSVインポート</a>
</div>

{{if count($ts)>0}}

<table class="tbl_admin list">
    <tr>
        <th>タイトル</th>
        <th>カテゴリー</th>
        <th>掲載日付</th>
        <th>掲載終了日付</th>
        <th>掲載状態</th>
        <th>&nbsp;</th>
    </tr>
    {{foreach $ts as $t}}
    <tr>
        <td>
            {{$t.title}}
        </td>
        <td>
            {{$t.category|enum:"Post.category"}}
        </td>
        <td>
            {{$t.display_date|date:"Y/n/j"}}
        </td>
        <td>
            {{$t.display_end_date|date:"Y/n/j"}}
        </td>
        <td>
            {{$t.draft_flg|enum:"Post.draft"}}
        </td>
        <td>
            <a href='{{".entry_form"|page_to_url|url:["id"=>$t.id]}}' class="edit">編集</a>
            <a href='{{".delete"|page_to_url|url:["id"=>$t.id]}}' class="delete" onclick="return confirm('削除します');">削除</a>
        </td>
    </tr>
    {{/foreach}}
</table>

{{if $p = $ts->getPager()}}
    <div class="pager">
    <p>全{{$p->get("count")}}件中 {{$p->get("current_volume")}}件を表示</p>
    <ul class="clearfix">
    {{if $p->getPage('prev')}}
        <li class="prev"><a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage('prev')])}}">&lt;</a></li>
    {{/if}}
    {{foreach $p->getPages(5) as $page}}
        {{if $page == "last"}}<li>...</li>{{/if}}
        {{if $page == $p->getPage("current")}}<li class="current">{{else}}<li>{{/if}}
        <a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage($page)])}}">{{$p->getPage($page)}}</a>
        </li>
        {{if $page == "first"}}<li>...</li>{{/if}}
    {{/foreach}}
    {{if $p->getPage("next")}}
        <li class="next"><a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage('next')])}}">&gt;</a></li>
    {{/if}}
    </ul>
    </div>
{{/if}}

{{else}}

<p>該当する情報がありません</p>

{{/if}}{{*count($ts)>0*}}


</div><!--right-->

{{inc route="/include/admin_footer.html"}}