{{assign "page_title" "製品管理 詳細"}}
{{inc path="/include/admin_header.html"}}

<h1 class="page-title">{{$page_title}}</h1>

<table class="tbl detail">
    <tr>
        <th>大分類ID</th>
        <td>{{$t.parent_category_id_label}}</td>
    </tr>
    <tr>
        <th>中分類ID</th>
        <td>{{$t.child_category_id_label}}</td>
    </tr>
    <tr>
        <th>製品名</th>
        <td>{{$t.name}}</td>
    </tr>
    <tr>
        <th>型名</th>
        <td>{{$t.model}}</td>
    </tr>
    <tr>
        <th>画像</th>
        <td>{{if $t.image}}<a href="{{$t.image}}" target="_blank">{{$t.image|basename}}</a>{{/if}}</td>
    </tr>
    <tr>
        <th>取扱説明書</th>
        <td>{{if $t.manual}}<a href="{{$t.manual}}" target="_blank">{{$t.manual|basename}}</a>{{/if}}</td>
    </tr>
    <tr>
        <th>公開日</th>
        <td>{{$t.release_date|date:"Y/m/d"}}</td>
    </tr>
    <tr>
        <th>説明</th>
        <td>{{{{$t.description}}|nl2br nofilter}}</td>
    </tr>
    <tr>
        <th>関連ファイル<br /><a href='{{"admin_products_files.form"|page_to_url:["product_id"=>$t.id]}}' class="list-btn">ファイル追加</a></th>
        <td>
            {{foreach $t.product_files as $files_t}}
            {{$files_t|report}}
                {{$files_t.file|basename}}({{$files_t.file_size}}MB)&nbsp;
                <a href='{{"admin_products_files.form"|page_to_url:["product_id"=>$t.id,"id"=>$files_t.id]}}'>[変更]</a>&nbsp;
                <a href='{{"admin_products_files.delete"|page_to_url:["id"=>$files_t.id]}}' onclick="return confirm('削除してよろしいですか？');">[削除]</a>
                {{/foreach}}
        </td>
    </tr>
</table>
<div class="btn-area">
    <a href='{{"admin_products.list"|page_to_url:["back"=>1]}}' class="back-btn">一覧へ戻る</a>
    <a href='{{"admin_products.form"|page_to_url:["id"=>$t.id]}}' class="list-btn">編集</a>
    <a href='{{"admin_products.delete"|page_to_url:["id"=>$t.id]}}' class="list-btn" onclick="return confirm('本当にこの製品を削除しますか？');">削除</a>
</div>

{{inc path="/include/admin_footer.html"}}
