# -- HTTPD Config
AddDefaultCharset UTF-8
Options +FollowSymLinks
RewriteEngine On
RewriteBase /
# -- / HTTPD Config

# -- Webapp Routing
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} \.html$
RewriteRule .* /.index.php [L]
# --

# -- Access Deny
RedirectMatch 404 /\.git
RedirectMatch 404 /\.ht
# -- / Access Deny

# -- Basic Auth
Require valid-user
#AuthUserFile /PATH_TO/.htpasswd
#AuthGroupFile /dev/null
#AuthName "Please enter your ID and password"
#AuthType Basic
# -- / Basic Auth
