#-------------------------------------
# Charset
#
AddDefaultCharset UTF-8

#-------------------------------------
# PHP 
#
php_flag display_errors Off
php_value error_reporting 6135 
php_value date.timezone Asia/Tokyo
php_flag short_open_tag On
php_flag mbstring.encoding_translation Off
php_flag auto_detect_line_endings On
php_flag session.use_trans_sid Off
#php_value session.save_handler memcache
#php_value session.save_path tcp://localhost:11211

#-------------------------------------
# Loader
#
#SetEnv LOADER_ID default

#-------------------------------------
# RewriteEngine
#
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# .index.phpへのルーティング
RewriteCond %{REQUEST_URI} (\.html?|/|^)$
RewriteRule ^(.*)$ /HTML_DIR_URL/.index.php [L]

#-------------------------------------
# BasicAuth (ex: preview / cftyuhbvg)
#
AuthUserFile /HTML_DIR/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
Require valid-user
